<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Welcome to TinyUrl</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-inverse">
  <a class="navbar-brand" th:href="@{/app}"><img th:src="@{/img/tiny_url.png}" style="width: 20%"></a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/app}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/app/myurls}">My Urls</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome <span sec:authentication="principal.fullName"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <form th:action="@{/app/logout}" method="post">
        </form>
        <a class="dropdown-item" href="#" onclick="$(this).parent().find('form').submit();return false;">
          Log Out
        </a>
      </div>
    </li>
  </ul>
</nav>
<div class="wrapper2">
  <form class="p-3 mt-3" th:action="@{/app/myurls}" th:object="${mapping}" method="post">
    <div class="form-group">
      <i class="fa fa-pen"></i>
      <label> Enter a long URL to make a TinyURL</label>
      <input type="text" th:field="*{originalUrl}" class="form-control" required="required">
    </div>
    <div class="form-group">
      <i class="fa fa-user-pen"></i>
      <label>Customize your link</label>
      <span th:text="*{domainName}"></span><input type="text" th:field="*{customUrl}" class="form-control">
    </div>
    <input type="hidden" th:field="*{domainName}">
    <button type="submit" class="btn btn-primary mt-3">Make TinyUrl</button>
  </form>
</div>

</body>
</html>