<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - TinyUrl</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
<div class="wrapper">
    <div class="logo">
        <img th:src="@{/img/tiny_url.png}" />
    </div>
    <form class="p-3 mt-3" th:action="@{/login}" method="post" autocomplete="off">
        <div class="form-field d-flex align-items-center">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" name="email" placeholder="E-mail" required autofocus/>
        </div>
        <div class="form-field d-flex align-items-center">
            <i class="fa-regular fa-key"></i>
            <input type="password" name="password" placeholder="Password" required />
        </div>

        <input type="submit" value="Login" class="btn mt-3" />
    </form>
    <div class="p-3 d-flex flex-row justify-content-center align-items-center member">
        <span>Not a member? </span> <a th:href="@{/register}"> Sign up</a>
    </div>
    <div class="p-3 d-flex flex-row justify-content-center align-items-center" th:if="${param.error}">
        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>
</div>
</body>
</html>